## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
a = 1
print(a)

1

2) Imprimir el tipo de dato de la constante 8.5

In [2]:
type(8.5)

float

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [3]:
type(a)

int

4) Crear una variable que contenga tu nombre

In [4]:
mi_nombre = 'William Lozano'

5) Crear una variable que contenga un número complejo

In [5]:
n_complejo = 5 + 1j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [6]:
type(n_complejo)

complex

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [7]:
pi = 3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [8]:
var_1 = 'True'
var_2 = True

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [9]:
print('La variable 1 es de tipo ', type(var_1), ' y la variable 2 es de tipo ', type(var_2), 'no son lo mismo')

La variable 1 es de tipo  <class 'str'>  y la variable 2 es de tipo  <class 'bool'> no son lo mismo

10) Asignar a una variable, la suma de un número entero y otro decimal

In [10]:
a = 3.2 + 4

11) Realizar una operación de suma de números complejos

In [11]:
a = 5 + 1j
b = 1 + 5j
print(a + b)

(6+6j)

12) Realizar una operación de suma de un número real y otro complejo

In [12]:
c = a + 1.1
print(c)

(6.1+1j)

13) Realizar una operación de multiplicación

In [13]:
print(3 * 0)

0

14) Mostrar el resultado de elevar 2 a la octava potencia

In [14]:
print(2**8)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [15]:
a = 27 / 4
print(a)

6.75

16) De la división anterior solamente mostrar la parte entera

In [16]:
print(27 // 4)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [17]:
print(27 % 4)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [18]:
(27//4)*4+(27%4)

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [19]:
var1 = 'a '
var2 = 'b'
print(var1 + var2)

a b

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [20]:
2 == '2' #son de distinto tipo

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [21]:
2 == int('2')

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [22]:
a = float('3,8') #flotante usa punto como separador

ValueError: could not convert string to float: '3,8'

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [23]:
a = 3
a -= 1
print(a)

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [24]:
1 << 2 #resultado desde el punto de vista binario

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [25]:
2 + '2' # sin casting, no es posible

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [28]:
float(2) + float('2')

4.0

In [29]:
int(2) + int('2')

4

In [30]:
str(2) + str('2')

'22'

26) Realizar una operación válida entre valores de tipo entero y string

In [31]:
var1 = 'usted lee esto '
var2 = 4
print(var1 * var2 + str(var2) + ' veces')

usted lee esto usted lee esto usted lee esto usted lee esto 4 veces